*{
    margin: 0;
    padding: 0;
    font-family: 'Megrim';
}

body{
    background-color: #15295C;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 3rem;
    color: white;
}

h1 img{
    margin: 0 15px;
}

main{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.container{
    width: 350px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: red;
}

canvas{
    image-rendering: optimizeQuality;
    min-width: 600px;
    max-width: 800px;
    height: 85vh;
    background-color: #19A30E;
    background: url("assets/gameScreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#car{
    image-rendering: optimizeQuality;
    display: none;
}

