*{
    margin: 0;
    padding: 0;
    font-family: 'Megrim';
}

body{
    background-color: #15295C;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 3rem;
    color: white;
}

h1 img{
    margin: 0 15px;
}

h2{
    font-size: 2rem;
    position: fixed;
    top: 3vh;
    left: 75vw;
    color: aqua;
}

main{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.container{
    width: 350px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 3px solid black;
}

.container *{
    font-family: 'consolas';
}

::-webkit-scrollbar{
    display: none;
}

.recentScores{
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.recentScores h2{
    order: 3;
    margin-bottom: 10px;
    position: static;
    color: crimson;
}


.recordDisplay{
    background-color: darksalmon;
    outline: 3px solid black;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}


/* 
.recentScores, .keyControls{
    border: 1px solid red;
} */

.keyControls{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyControls h2{
    position: static;
    color: chartreuse;
}


.keyControls h3{
    color: cornflowerblue;
}

.keyControls h3 span{
    color: coral;
}

canvas{
    image-rendering: optimizeQuality;
    width: 60%;
    height: 85vh;
    background-color: #19A30E;
    background: url("assets/gameScreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    outline: 10px solid black;
    outline-offset: -10px;
}

canvas:hover{
    cursor: pointer;
}

#car, #truck, #police{
    image-rendering: optimizeQuality;
    display: none;
}

